<div class="page-header">
  <h3>Pool Table #<%= @pool_table.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Pool table name</dt>
      <dd><%= @pool_table.pool_table_name %></dd>

      <dt>Price</dt>
      <dd><%= @pool_table.price %></dd>

      <dt>Size</dt>
      <dd><%= @pool_table.size %></dd>

      <dt>Pool table pic</dt>
      <dd><img src="<%= @pool_table.pool_table_pic %>" class="img-responsive"></dd>

      <dt>Venue</dt>
      <dd><%= @pool_table.venue_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/pool_tables" class="btn btn-primary">
        Back
      </a>
      <a href="/pool_tables/<%= @pool_table.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_pool_table/<%= @pool_table.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Pool table has many bookmarks -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Bookmarks
      </li>

      <% @pool_table.bookmarks.each do |bookmark| %>
        <li class="list-group-item">
          <a href="/bookmarks/<%= bookmark.id %>">
            <%= bookmark.venue_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/bookmarks/<%= bookmark.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/bookmarks/<%= bookmark.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_bookmark/<%= bookmark.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_bookmark" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for venue_id -->
      <div class="form-group">
        <label for="venue_id" class="control-label">
          Venue
        </label>

        <%= select_tag(:venue_id, options_from_collection_for_select(Venue.all, :id, :venue_name), :class => "form-control") %>
      </div>

      <!-- Label and input for pool_table_id -->
      <div class="form-group">
        <label for="pool_table_id" class="control-label">
          Pool table
        </label>

        <%= select_tag(:pool_table_id, options_from_collection_for_select(PoolTable.all, :id, :pool_table_name), :class => "form-control") %>
      </div>

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for comments -->
      <div class="form-group">
        <label for="comments" class="control-label">
          Comments
        </label>

        <input type="text" id="comments" name="comments" placeholder="Comments" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Bookmark
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Pool table has many users -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Users
      </li>

      <% @pool_table.users.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Pool table has many neighborhood -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Neighborhood
      </li>

      <% @pool_table.neighborhood.each do |neighborhood| %>
        <li class="list-group-item">
          <a href="/neighborhoods/<%= neighborhood.id %>">
            <%= neighborhood.neighborhood_name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/neighborhoods/<%= neighborhood.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/neighborhoods/<%= neighborhood.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_neighborhood/<%= neighborhood.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
