<div class="page-header">
  <h3>Pool Table #<%= @pool_table.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Pool table name</dt>
      <dd><%= @pool_table.pool_table_name %></dd>

      <dt>Price</dt>
      <dd><%= @pool_table.price %></dd>

      <dt>Size</dt>
      <dd><%= @pool_table.size %></dd>

      <dt>Pool table pic</dt>
      <dd><%= @pool_table.pool_table_pic %></dd>

      <dt>Venue</dt>
      <dd><%= @pool_table.venue_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/pool_tables" class="btn btn-primary">
        Back
      </a>
      <a href="/pool_tables/<%= @pool_table.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_pool_table/<%= @pool_table.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
