<div class="page-header">
  <h3>Neighborhood #<%= @neighborhood.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Neighborhood name</dt>
      <dd><%= @neighborhood.neighborhood_name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/neighborhoods" class="btn btn-primary">
        Back
      </a>
      <a href="/neighborhoods/<%= @neighborhood.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_neighborhood/<%= @neighborhood.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Neighborhood has many venues -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Venues
      </li>

      <% @neighborhood.venues.each do |venue| %>
        <li class="list-group-item">
          <a href="/venues/<%= venue.id %>">
            <%= venue.venue_name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/venues/<%= venue.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/venues/<%= venue.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_venue/<%= venue.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_venue" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for venue_name -->
      <div class="form-group">
        <label for="venue_name" class="control-label">
          Venue name
        </label>

        <input type="text" id="venue_name" name="venue_name" placeholder="Venue name" class="form-control" value="">
      </div>

      <!-- Label and input for address -->
      <div class="form-group">
        <label for="address" class="control-label">
          Address
        </label>

        <input type="text" id="address" name="address" placeholder="Address" class="form-control" value="">
      </div>

      <!-- Label and input for neighborhood_id -->
      <input type="hidden" name="neighborhood_id" value="<%= @neighborhood.id %>">

      <!-- Label and input for ambience -->
      <div class="form-group">
        <label for="ambience" class="control-label">
          Ambience
        </label>

        <input type="text" id="ambience" name="ambience" placeholder="Ambience" class="form-control" value="">
      </div>

      <!-- Label and input for pool_table_id -->
      <div class="form-group">
        <label for="pool_table_id" class="control-label">
          Pool table
        </label>

        <input type="text" id="pool_table_id" name="pool_table_id" placeholder="Pool table" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Venue
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Neighborhood has many pool_tables -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Pool Tables
      </li>

      <% @neighborhood.pool_tables.each do |pool_table| %>
        <li class="list-group-item">
          <a href="/pool_tables/<%= pool_table.id %>">
            <%= pool_table.pool_table_name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/pool_tables/<%= pool_table.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/pool_tables/<%= pool_table.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_pool_table/<%= pool_table.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Neighborhood has many bookmarks -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Bookmarks
      </li>

      <% @neighborhood.bookmarks.each do |bookmark| %>
        <li class="list-group-item">
          <a href="/bookmarks/<%= bookmark.id %>">
            <%= bookmark.venue_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/bookmarks/<%= bookmark.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/bookmarks/<%= bookmark.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_bookmark/<%= bookmark.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
